@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <div class="row h-100 align-items-center">
    <div class="col">
        <!-- Titulo y descripcion-->
        <h1 class="text-capitalize">
            <p class="font-weight-bold text-light">Clinica Veterinaria</p>                  
        </h1>     
        <h5 class="text-capitalize">            
            <p class="font-italic text-dark">"El amor por todas las criaturas vivientes es el más noble atributo del ser humano", 
                      Charles Darwin.</p>   
        <br/>
        <br/>
        <br/>    
        <!-- Boton--> 
        <a asp-page="/RegistroUsuario/RegistroUsuario" class="btn btn-danger btn-lg">Registrate y agenda la cita para tu mascota</a>           
    </div>

    <div class="col">
    </div>
  </div>
</div>
