@page
@model Veterinaria.App.Pages.LoginModel
@{
}
<main class="form-signin">
    <form>
        <img class="mb-4" src="../imagenes/logo_clinica.png" alt="" width="250" height="231">
        <h1 style="text-align:center" class="h3 mb-3 fw-normal">Portal de registro</h1>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Ingrese su email">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" style="height: 25px; text-align: center"
                placeholder="Ingrese contraseña">
        </div>

        <button type="submit" class="btn btn-danger" style="text-align:center">Ingresar</button>
    </form>
</main>
